.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrap-lang button {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 20px 0;
}

form label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

form input {
  width: 50%;
}

form button {
  padding: 10px 60px;
  border-style: none;
  border-color: #000;
  border-radius: 5px;
  background-color: #0087cb;
  color: #fff;
  cursor: pointer;
}

.msg-error {
  font-size: 14px;
  color: red;
}

.msg-logged {
  font-size: 14px;
  color: white;
}
